* {
  overflow: hidden;
  cursor: crosshair;
  max-width: 100vh;
}

.bubble {
  position: absolute;
  bottom: -20%;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: rgba(0, 136, 255);
  filter: hue-rotate(0deg); /* Couleur initiale sans rotation */
  animation: move-up 15s ease, color-shift 3s infinite; /* Animations combinées */
}


  /* Animation qui fait monter les bulles, les fait bouger latéralement et les fait apparaître et disparaître */
  @keyframes move-up {
    0% {
      transform: translateY(0) translateX(0); /* Départ immédiat */
      opacity: 0; /* apparaît*/
    }
    50% {
      opacity: 0.4;
    }
    100% {
      transform: translateY(-150vh) translateX(calc(var(--direction) * 150vh)); /* Sortie par le haut, et déplacement en latéral */
      opacity: 0.7; /* Disparaît progressivement */
    }
  }

/* Animation qui fait changer de couleur les bulles */
@keyframes color-shift {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg); /* Retour à la couleur initiale */
  }
}
