* {
  overflow: hidden;
  cursor: crosshair;
  max-width: 100vh;
}

.bubble {
  position: absolute;
  top: -250px;
  left: 100%;
  height: var(--size);
  width: var(--size);
  border-radius: 150px;
  background-color: rgba(0, 136, 255, 0.833);
  filter: hue-rotate(780deg);
  animation: anim 8s forwards;
}

@keyframes anim {
  to {
    top: -250px;
    left: 100%;
  }
}